<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>Read all Items - count:</strong> <%= itemsCount %></p>

          <p><strong>All Items:</strong>
          <ol>
          <% for(var i=0; i < allItems.length; i++) { %>
            <li><%= allItems[i].name %>; Price: $<%= allItems[i].salesDetails.unitPrice.toFixed(2) %></li>
          <% } %>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
